.pedir{

	background: #FDE47F; 
	float: left;
	width: 49.5%;   
	height: 100%;
	max-width: 51%;


}

#titulopedir{
	background: #FDE47F; 
	width: 80%; 
	height: 30%; 
	margin-top: 3%; 
	font-size: 30px;

}

	


