.portada{
	background: white; 
	width: 80%; 
	margin-left: 10%; 
	margin-right:10%; 
	height: 700px;
	box-sizing: border-box;
	max-width: 1000px;
}
 
.imgport{
	width: 350px;
	height: auto;
	margin-bottom: 10%;	

}


